.list {
  $self: &;

  &:not(:last-child) {
    margin-bottom: 1.875em;
  }
    
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.625em;
    transition: background-color 0.15s ease-in-out;
    border-radius: 4px;

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    }

    &:hover {
      background: rgba(#ffffff, 0.7);

      #{$self}__remove-icon {
        opacity: 0.2;
      }
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__item_icon {
    path {
      fill: #7C7C7C;
      transition: fill .3s linear;
    }
  }

  &__item_mark {
    width: 1.125em;
    height: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
  }

  &__item_name {
    font-size: 0.875em;
    font-weight: 500;
    flex: 1;
    margin-right: 0.5em;
  }

  &__remove-icon {
    opacity: 0;
  }

  &__add-button {
    color: #767676;
    transition: all 0.5s linear;

    path {
      stroke: #868686;
      transition: all 0.5s linear;
    }
  }
}