*
  margin: 0
  padding: 0
  list-style: none
  outline: none
  font-family: 'Roboto', -apple-system, system-ui, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.todo
  box-shadow: 1px 1px 1.25em #f3f3f3
  max-width: 1440px
  width: 100%
  margin: auto
  margin-top: 5vh
  border: 1px solid #f1f1f1
  border-radius: 0.625em
  overflow: hidden

  &__sidebar
    background-color: #F4F6F8
    width: 200 / 16  * 1em
    min-height: 50vh
    border-right: 1px solid #F1F1F1
    padding: 60 / 16 * 1em 20 / 16 * 1em

.field
  display: block
  min-height: (32/16)*1em
  background: #FFFFFF
  border: 1px solid #EFEFEF
  box-sizing: border-box
  border-radius: (4/16)*1em
  padding: (8/14)*1em (12/14)*1em
  font-size: 0.875em
  color: #a9a9a9
  letter-spacing: (0.15/14)*1em
  transition: 0.15s border linear

  &:focus
    border-color: #a9a9a9
  
  &::placeholder
    color: #C7C7C7

.button
  min-height: (37/14)*1em
  font-size: 0.875em
  background: #4DD599
  border: 0
  border-radius: (4/14)*1em
  color: #ffffff
  line-height: (17/14)
  cursor: pointer
  transition: 0.15s background linear

  &:hover
    background-color: darken(#4DD599, 6%)
  
  &:active
    background-color: darken(#4DD599, 10%)
    